@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

h1 {
    font-size: 40px;
    margin-bottom: 2rem;
}

body {
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}

main {
    position: relative;
    flex: 7;
}

aside {
    display: ;
    font-size: 20px;
    display: flex;
    flex-direction: column;

    position: relative;
    flex: 1.5;  

    justify-content: center;
    text-align: center;

    border-right: 8px solid rgba(53, 153, 167, 0.103); 
}

aside nav ul li {
    padding: 1rem;
}

aside nav ul li:hover {
    border-right: 8px solid black;
    background-color: #46b5a6;

    transition: 0.5s;
    cursor: pointer;
}

.btn_show_aside {
    position: relative;
    align-self: center;

    cursor: pointer;
    margin-left: 2rem;
}

.btn_show_aside img {
    height: 5rem;

}

.container {
    display: flex;
    height: 100vh;
}


section {
    position: absolute;
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 0 auto;
    width: 100vw;
    max-width: 98%;
    
    top: 0;
    bottom: 0;
    font-size: 25px;
}

#project {
    max-width: 100%;
    font-size: 16.3px;
}

.img_avatar img {
    width: 80%;
}

.tech img {
    width: 8rem;
}

.btn {
    position: relative;
    margin-top: 4rem;
    padding: 10px 25px;
        

    border: 1px solid black;
    font-size: 15px;

    min-width: 100px;

    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 2px;

    transition: all 0.3s;
    z-index: 0;
    cursor: pointer;
    background-color: #00000000;
}

.btn::before {
    content: '';

    position: absolute;
    display: block;

    top: 0;
    left: 1px;
    width: 70%;
    height: 100%;

    background: linear-gradient(90deg, transparent, #00000075, transparent);
    z-index: -1;
    transition: all 1s;
    transform: translateX(-120px) skew(-20deg);
}

.btn:hover::before {
    transform: translateX(100px) skew(-20deg);
}

.btn:hover {
    background: #318b8e;
}

.words p {
    margin-bottom: 2rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card_style {
    margin: 0 2rem;

    padding: 2rem;
    width: 25rem;

    cursor: pointer;
    border-radius: 5px;
    text-align: center;

    box-shadow: -4px 0px 55px -9px #1faabd;
    background: linear-gradient(to bottom, #191b1d, #273c46, #2c626d, #318b8e, #46b5a6);
}

.cards img {
    width: 100%;
    height: 10rem;
}

.line {
    margin: 2rem 0;
    height: 4px;
    background: linear-gradient(to bottom, #191b1d, #273c46, #2c626d, #318b8e, #46b5a6);
}

.img_icons {
    display: flex;
    align-items: center;
}

.img_icons img {
    margin-bottom: 1rem;
    cursor: pointer;
}



/* TRANSITION */
.index_appear {
    opacity: 1;
    z-index: 1;
}

.index_disappear {
    opacity: 0;
    z-index: -1;
}